
<div style = "margin: 20px">
	
	<h1>Les filmes à voir !</h1>
	<p>
		<a routerLink="/favoris"> Aller vers les favoris </a>
	</p>
	

	Filtrer les filmes <input type="text" [(ngModel)]="search" (focus) = "showFilms()"/>

	<div id="listFilms" *ngIf="display" (mouseleave)="hideFilms()">
		<ul >
			<li *ngFor="let film of tmpFilms | filtering:search" #liFilm1 (click) = "addFilms(liFilm1)">{{film.Title}}</li>
		</ul>
	</div>
	<div *ngIf="nonDisplay">
		<ul>
			<li *ngFor="let f of films" #liFilm2 (click) = "addFavor(liFilm2)">{{f.Title}}</li>
		</ul>
	</div>
</div>